.loginContent {
    max-width: 350px;
}
.login__header {
    padding: 0 5px 10px 5px;
    font-size: 16pt;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}
.loginForm__block {
    margin: 10px;
}
.loginForm__block:last-child {
    margin: 10px 10px 0 10px;
}
.loginForm__block label {
    display: block;
    font-size: 14px;
}
.formErorr {
    margin: 10px;
    color: red;
    font-size: 14px;
}
.captchaImage {
    display: block;
    max-width: 150px;
}